@using DropDrag.Data

<div >
    @for (int row = 0; row < Rows; row++)
    {
        <div class="d-flex ">
            @for (int col = 0; col < Cols; col++)
            {
                <Dropzone Class="cells" Items="matrix[Cols * row + col]" MaxItems="1">
                    
                        <Component item="@context"></Component>

                </Dropzone>
            }
        </div>
    }
</div>



@code {
    [Parameter] public int Rows { get; set; }
    [Parameter] public int Cols { get; set; }
    
    private List<List<TodoItem>> matrix = new List<List<TodoItem>>();


    protected override void OnInitialized()
    {

        for (int i = 0; i < Rows*Cols; i++)
        {
            {
                matrix.Add(new List<TodoItem>(1));
            }
        }
    }
}
