@using DropDrag.Data

<div class="modal-container ">
    <div class="row">
        <div class="col-3 ">
            <Dropzone Items="MyFirstList" Class="card-left scroll">
                <div class="component-block-left">
                    <Component item="@context"></Component>
                </div>
            </Dropzone>
        </div>

        <div class="col-9  card-right">

            @for (var i = 0; i < Blocks; i++)
            {
                <Block Rows="@Rows" Cols="@Cols"></Block>
                <br />
            }
        </div>
    </div>
    <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private List<TodoItem> item = new List<TodoItem>(5);
    private TodoItem lastdropped { get; set; }
    [Parameter] public int Rows { get; set; } = 4;
    [Parameter] public int Cols { get; set; } = 8;
    [Parameter] public int Blocks { get; set; } = 4;
    public List<TodoItem> MyFirstList = new List<TodoItem>(16)
{
        new TodoItem(){Title = "Item 1", Description="mô tả"},
        new TodoItem(){Title = "Item 2", Description="mô tả"},
        new TodoItem(){Title = "Item 3", Description="mô tả"},
        new TodoItem(){Title = "Item 4", Description="mô tả"},
        new TodoItem(){Title = "Item 5", Description="mô tả" },
        new TodoItem(){Title = "Item 6 ", Description="mô tả"},
        new TodoItem(){Title = "Item 7 ",Description="mô tả"},
        new TodoItem(){Title = "Item 8 ",Description="mô tả"},
        new TodoItem(){Title = "Item 9 ",Description="mô tả"},
        new TodoItem(){Title = "Item 10 ",Description="mô tả"},
        new TodoItem(){Title = "Item 11",Description="mô tả"},
        new TodoItem(){Title = "Item 12",Description="mô tả"},
        new TodoItem(){Title = "Item 13",Description="mô tả"},
        new TodoItem(){Title = "Item 14",Description="mô tả"},
        new TodoItem(){Title = "Item 15",Description="mô tả"},
        new TodoItem(){Title = "Item 16",Description="mô tả"},
        new TodoItem(){Title = "Item 17 ",Description="mô tả"},
        new TodoItem(){Title = "Item 18 ",Description="mô tả"},
        new TodoItem(){Title = "Item 19",Description="mô tả"},
        new TodoItem(){Title = "Item 20",Description="mô tả"},
        new TodoItem(){Title = "Item 21",Description="mô tả"},
        new TodoItem(){Title = "Item 22",Description="mô tả"},
        new TodoItem(){Title = "Item 23",Description="mô tả"},
        new TodoItem(){Title = "Item 24",Description="mô tả"}
    };
    void SubmitForm()
    {
        //ModalInstance.CloseAsync();
        ModalInstance.Close(ModalResult.Ok($"Form was submitted successfully."));
    }

    void Cancel()
    {
        //ModalInstance.CancelAsync();
        ModalInstance.Cancel();
    }
}

